# 대용량 파일 제외
*.zip
*.tar
*.gz
*.rar
*.ini
*.ipynb

# 실행 파일 및 바이너리
*.exe
*.dll
*.so
*.dylib

# 환경설정 파일 제외
*.env
config.json

# 캐시 및 로그 파일 제외
*.log
*.cache

#이미지 파일, 모델 가중치 제외
*.jpg 
*.png
*.pth
#업로드 하지 않을 폴더